<mat-card>
<div>
  <h2>EDIT COMPANY</h2>
  <p>You can edit your company profile and reset password here</p>
  <h3>Edit Company Profile</h3>
 <p class="p1"> Your logo</p>
  <img src=4.jpg class="logo"/>

  
  <button mat-stroked-button  class="upload" color="primary" >Upload</button>
  <button mat-button   class="remove" color="warn">Remove</button>


<form class="example-form">
  <table class="example-full-width" cellspacing="0"><tr>
  <td><h4 class="input3">Company Name</h4>
  <mat-form-field  appearance="outline" class="input">
    
    <mat-label></mat-label>
    <input matInput >
  </mat-form-field></td>
  <td > <h4 class="input2">Pincode</h4>
    <mat-form-field  appearance="outline" class="input1">
      <mat-label></mat-label>
      <input matInput>
    </mat-form-field></td>
    </tr></table>

 
  <table class="example-full-width" cellspacing="0"><tr>
    <td><h4 class="input3">Website</h4>
    <mat-form-field  appearance="outline" class="input">
     
      <mat-label></mat-label>
      <input matInput>
    </mat-form-field ></td>
   <td > <h4 class="input2">State</h4>
    <mat-form-field  appearance="outline" class="input1">
      <mat-label></mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>


  <table class="example-full-width" cellspacing="0"><tr>
    <td><h4 class="input3">Address</h4>
    <mat-form-field  appearance="outline" class="input">
     
      <mat-label></mat-label>
      <input matInput>
    </mat-form-field ></td>
   <td > <h4 class="input2">Country</h4>
    <mat-form-field  appearance="outline" class="input1">
      <mat-label></mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>
  
  <table class="example-full-width" cellspacing="0"><tr>
    <td><h4 class="input3">City</h4>
    <mat-form-field  appearance="outline" class="input">
     
      <mat-label></mat-label>
      <input matInput>
    </mat-form-field ></td>
    </tr></table>
   

</form>
</div>
<button mat-raised-button class="button1">cancel</button>
<button mat-raised-button  class="button2" color="primary" >Update</button>
</mat-card>